@import 'normalize';
@import 'fonts';
@import 'variables';

html {
	scroll-behavior: smooth;
	scroll-padding: 7rem;
}

body {
	overflow-x: hidden;
	// overflow-y: auto;
	background: $main-color-white;
	@media (max-width: $screen1024) {
		&.-lock {
			overflow: hidden;
		}
	}
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 0 auto;
}

[class*='__container'] {
	position: relative;
	height: 100%;
	width: clamp(320.0006px, 90vw, $container_maxWidth);
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	max-width: 19.1281rem;
	display: flex;
	align-items: center;
	font-size: clamp(0.45rem, 1.25vw, 1rem);
	& span {
		font: 600 4.2705em 'Darker Grotesque', sans-serif;
		color: $text-color-green;
	}
	& p {
		margin-left: 0.4em;
		padding-left: 0.3em;
		font: 500 1.7794em 'Darker Grotesque', sans-serif;
		text-align: left;
		color: #363333;
		border-left: 1px solid $text-color-black;
	}
}
.button1 {
	border-radius: 2.2242rem;
	height: 100%;
	// width: 12.8968rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $button-color-normal;
	@include text-h9;

	color: $text-color-white;
	transition: background 0.3s ease;
	@media (hover) {
		&:hover {
			background: $button-color-hover;
		}
	}
	&:focus-visible {
		background: $button-color-hover;
	}
	&:active {
		background: $button-color-active;
	}
}

.button2 {
	position: relative;
	padding: 0.8897rem 4.4484rem 0.8897rem 0.8897rem;
	width: 15.347rem;
	height: 3.0027rem;
	background: transparent;
	@include text-h9;
	font-size: 1.0676rem;
	text-align: center;
	color: $text-color-white;
	transition: background 0.3s ease;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: $button-color-normal;
		mask-image: url('@img/call-btn.svg');
		mask-repeat: no-repeat;
		mask-size: contain;
		transition: background 0.3s ease;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		aspect-ratio: 1;
		background: url('@img/icons/icons.svg#phone') 0.6228rem center/ 1.7794rem no-repeat;
	}
	@media (hover) {
		&:hover::before {
			background-color: $button-color-hover;
		}
	}
	&:focus-visible::before {
		background-color: $button-color-hover;
	}
	&:active::before {
		background: $button-color-active;
	}
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 20;
	margin-bottom: 2.3rem;
	background: #ffffffdf;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -20;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(5px);
		box-shadow: 0 3px 20px #aaa;
	}

	&__container {
		display: flex;
		align-items: center;
	}
	&__nav {
		flex: 1 0 auto;
		margin-inline: 1.7794rem;
	}
	.header__list {
		display: flex;
		align-items: center;
		column-gap: 10px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		flex-grow: 1;
		text-align: center;
		&:first-of-type {
			display: none;
		}
	}
	&__link {
		@include text-h7;
		width: 100%;
		display: inline-block;
		font-size: 16px;
		transition: color 0.2s ease;
		@media (hover) {
			&:hover {
				color: $button-color-hover;
			}
		}
		&:focus-visible {
			color: $button-color-hover;
		}
		&:active {
			color: $button-color-active;
		}
	}

	&__authors {
		display: none;
	}

	&__developer {
	}

	&__buttons {
		flex: 0 1 clamp(13rem, 45vw, 19rem);
		height: clamp(42px, 10vw, 62px);
		display: flex;
	}
	&__button {
		flex: 0 1 auto;
		padding: 0 clamp(0.5rem, 3vw, 1rem);
		font-size: clamp(0.6rem, 2.25vw, 1.06rem);
	}
	&__burger {
		flex: 0 0 3.2rem;
		display: none;
	}
	@media (width <= $screen1024) {
		&::before {
			z-index: 0;
			background: #fff;
		}
		&__container {
			padding: 0.4rem 0;
			justify-content: space-between;
		}
		&__logo {
			margin-right: 0.5rem;
			max-width: 19.1281rem;
		}
		&__nav {
			position: fixed;
			top: 0;
			right: -100%;
			z-index: -10;
			margin: 0;
			width: 100%;
			height: 100%;
			display: grid;
			grid-template: auto 1fr auto / 1fr;
			background: #f7f7f7ce;
			backdrop-filter: blur(16px);
			transition: right 0.3s ease;
			overflow-y: auto;

			&.-active {
				right: 0;
			}
		}
		&__list {
			width: 100%;
			margin-top: clamp(162px, 11vw, 202px);
			margin-inline: auto;
			width: clamp(320px, 90vw, $container_maxWidth);
			height: auto;
			row-gap: 60px;
		}
		&__item {
			width: 100%;
			&:first-of-type {
				display: inline-block;
			}
		}
		&__link {
			border: 2px solid #363333;
			border-radius: 34px;
			padding: 14px 16px;
			width: 100%;
			font-size: 1.25rem;
			@media (hover) {
				&:hover {
					border-color: $button-color-hover;
					color: $button-color-hover;
				}
			}
			&:focus-visible {
				border-color: $button-color-hover;
				color: $button-color-hover;
			}
			&:active {
				border-color: $button-color-hover;
				color: $button-color-hover;
			}
		}
		&__authors {
			margin-top: auto;
			padding-block: 100px 20px;
			display: block;
			text-align: center;
			font-size: 1.25rem;
		}
		&__author {
			text-decoration: underline;
			color: $text-color-black;
		}
		&__button {
			&:active {
				background: $button-color-hover;
			}
		}
		&__burger {
			position: relative;
			margin-inline: 5px;
			border-radius: 29.9996px;
			aspect-ratio: 1.2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 6px;
			background: $button-color-normal;
			&::before,
			&::after,
			span {
				content: '';
				height: 2px;
				width: 50%;
				background: #fff;
				transition: all 0.3s ease;
			}
			&.-active {
				&::before,
				&::after {
					scale: 0;
				}
			}
			@media (hover) {
				&:hover {
					background: $button-color-hover;
				}
			}
			&:focus-visible {
				background: $button-color-hover;
			}
			&:active {
				background: $button-color-hover;
			}
		}
	}
}
.media {
	margin-top: 1.7794rem;
	max-width: calc(4rem * 5);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__link {
		flex-grow: 1;
		display: block;
		height: 3.5rem;
		aspect-ratio: 1;
		transition: all 0.2s ease;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: all 0.2s ease;
		}
		&:not(:hover) {
			scale: 0.75;
		}
		@media (hover) {
			&:hover {
				img {
					opacity: 0.5;
				}
				&:nth-child(1) {
					filter: drop-shadow(0 0 0.1335rem rgb(212, 162, 238));
				}
				&:nth-child(2) {
					filter: drop-shadow(0 0 0.1335rem rgb(133, 213, 250));
				}
				&:nth-child(3) {
					filter: drop-shadow(0 0 0.1335rem rgb(139, 241, 156));
				}
				&:nth-child(4) {
					filter: drop-shadow(0 0 0.1335rem rgb(129, 170, 232));
				}
				&:nth-child(5) {
					filter: drop-shadow(0 0 0.1335rem rgb(249, 190, 216));
				}
			}
		}
		&:focus-visible {
			background: transparent;
			mask-image: none;
			img {
				opacity: 0.5;
			}
			&:nth-child(1) {
				filter: drop-shadow(0 0 4.9996px rgb(230, 98, 223));
			}
			&:nth-child(2) {
				filter: drop-shadow(0 0 4.9996px rgb(17, 186, 216));
			}
			&:nth-child(3) {
				filter: drop-shadow(0 0 4.9996px rgb(35, 207, 72));
			}
			&:nth-child(4) {
				filter: drop-shadow(0 0 4.9996px rgb(5, 91, 250));
			}
			&:nth-child(5) {
				filter: drop-shadow(0 0 4.9996px rgb(250, 168, 246));
			}
		}
		&:active {
			background: transparent;
			img {
				opacity: 1;
			}
		}
		&._disabled {
			background: $button-color-disable;
			pointer-events: none;
		}
	}
}

.form {
	margin: 0 auto;
	padding: 140.0009px 45.0005px 159.9992px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 550.0002px;
	&__title {
		@include text-h4;
		margin-bottom: 26.0004px;
	}

	&__subtitle {
		@include text-h10;
		margin-bottom: 40.0009px;
		min-width: 100%;
		font-size: 20px;
		text-align: center;
	}

	&__label {
		@include text-h4;
		margin-bottom: 1.7794rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		font-size: 23.9996px;
		&-name {
			display: inline-block;
			margin-bottom: 3.9992px;
		}
	}

	&__input {
		border: 0.089rem solid #2d342f;
		border-radius: 50px;
		padding: 17.9997px 17.9997px 11.9998px;
		// backdrop-filter: blur(.1779rem);
		background: rgba(252, 252, 252, 0.5);
	}

	&__button {
		padding: 0.8897rem 0;
		width: 100%;
	}
}
.contacts {
	&__list {
		@include text-h11;
		position: relative;
		z-index: 1;
		// margin: 70.0005px 140.0009px;
		margin: 70.0005px 50px;
		border-radius: 40.0009px;
		padding: 54.9996px 45.0005px 75px;
		max-width: 26.6904rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 45.0005px;
		overflow: hidden;
		a {
			color: $text-color-black;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: #ffffff7f;
			backdrop-filter: blur(0.2358rem);
			-webkit-backdrop-filter: blur(0.2358rem);
		}
	}

	&__address {
	}

	&__phone {
		position: relative;
		padding: 0 59.9991px;
		border-bottom: 0.0445rem solid #333;
		&::before {
			content: '';
			position: absolute;
			top: -10%;
			left: 4%;
			// translate: 0 -50%;
			height: 100%;
			aspect-ratio: 1;
			// background: url('@img/icons/icons.svg#phone') center / 100% no-repeat;
			background: $button-color-normal;
			mask-position: center;
			mask-size: cover;
			mask-repeat: no-repeat;
			transition: filter 0.2s ease;
			mask-image: url('@img/icons/icons.svg#phone');
		}
	}

	&__email {
		height: 4.8932rem;
		display: flex;
		align-items: center;
	}

	&__media {
		width: 100%;
	}
}

.hero {
	position: relative;
	margin: 0 auto;
	max-width: $container_maxWidth;
	&__container {
		position: relative;
		padding-bottom: 110px;
		&::before {
			content: '';
			position: absolute;
			right: -11rem;
			bottom: 0;
			outline: 15.0009px solid $main-color-white;
			border: 2.0007px solid #319e3c;
			border-radius: 50%;
			width: clamp(15rem, 60vw, 33.363rem);
			aspect-ratio: 1;
			background: url('@img/map.webp') center / cover no-repeat;
			@media (width <= $screen768) {
				right: -7rem;
				bottom: 4rem;
			}
			@media (width <= 430px) {
				right: -5rem;
				bottom: 7rem;
				width: clamp(10rem, 55vw, 15rem);
			}
		}
	}
	&__background {
		position: relative;
		height: clamp(32rem, 90vw, 46rem);
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: url('@img/hero.webp') center / cover no-repeat;
			border-radius: 1.7794rem;
		}
	}
	&__content {
		padding: 0.6673rem 2.669rem 1.7794rem;
		padding: 0.6rem clamp(1rem, 4vw, 2.67rem) clamp(1rem, 4vw, 1.78rem);
		max-width: 57.8292rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__description {
	}
	&__title {
		@include text-h1;
		font-size: clamp(2.2rem, 7vw, 4.9rem);
		line-height: clamp(120%, 10vw, 150%);
		text-shadow: 0px 1px 1px #555;
		margin-bottom: 12px;
	}

	&__subtitle {
		@include text-h8;
		position: relative;
		margin-bottom: clamp(1.5rem, 5vw, 2.6rem);
		padding: 0.8897rem 1.3345rem;
		max-width: 33.274rem;
		color: $text-color-white;
		text-shadow: 0rem 0rem 0.4448rem #888;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			border: 1.0004px solid rgba(252, 252, 252, 0.5);
			border-radius: 50px;
			backdrop-filter: blur(0.4448rem);
			background: rgba(252, 252, 252, 0.5);
		}
	}

	&__button {
	}

	&__stats {
		margin-top: 0px;
		border: 1.0004px solid rgba(252, 252, 252, 0.6);
		border-radius: clamp(25px, 4vw, 50px);
		padding: clamp(0.75rem, 3vw, 2rem);
		width: fit-content;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		backdrop-filter: blur(2px);
		background: rgba(252, 252, 252, 0.4);

		@media (width <= $screen1280) {
			width: clamp(9.9991rem, calc(60vw - 120px), 47.3754rem);
		}
		@media (width <= $screen1024) {
			width: fit-content;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__stat-item {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 0.8897rem;
		font-size: clamp(0.55rem, 2vw, 1rem);
		text-shadow: 0 0 5px #00000046;
	}

	&__stat-number {
		@include text-h2;
		font-size: 2.847em;
		color: $text-color-white;
	}

	&__stat-description {
		@include text-h9;
		font-size: 1.0676em;
		text-wrap: wrap;
		color: $text-color-white;
	}

	&__media {
		margin-inline: 0;
		@media (width <= $screen768) {
			max-width: calc(4.4484rem * 2.75);
		}
	}
}
.about {
	margin-bottom: 150px;

	&__container {
	}
	&__title {
		@include text-h3;
		padding-bottom: 59.9991px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: clamp(2.2242rem, calc(0.4448rem + 5vw), 6.6726rem);
		row-gap: 50px;
	}
	&__image {
		flex: 1 1 23.621rem;
		// aspect-ratio: 1.35;
		min-height: 15.5694rem;
		// max-height: 26.0231rem;
		border-radius: 40.0009px;
		background: url('@img/about.webp') center bottom / cover no-repeat;
		scale: -1 1;
	}
	&__description {
		flex: 1 1 18.9057rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__text {
		position: relative;
		margin-right: 2.2242rem;
		&::before {
			// display: flex;
			@include text-h6;
			content: 'Odessa delivery';
			position: absolute;
			top: 4rem;
			right: -6.3rem;
			rotate: -90deg;
		}
	}
	&__paragrahp {
		@include text-h9;
		line-height: 120.833333%; /* 29/24 */
		margin-bottom: 3.1139rem;
		text-wrap: pretty;
	}
	&__button {
	}
}
.services {
	margin-bottom: 140.0009px;
	&__container {
	}

	&__title {
		@include text-h3;
		padding-bottom: 59.9991px;
	}

	&__content {
		position: relative;
		padding: 129.9996px 0;
		// padding: 129.9996px 3.3363rem;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 40.0009px;
			width: 100%;
			height: 100%;
			background: url('@img/services-bg.webp') center / cover no-repeat;
		}
	}

	&__list {
		margin: 0 auto;
		padding-inline: 50px;
		width: 100%;
		overflow-x: auto;
		display: grid;
		grid-template-columns: repeat(4, minmax(220px, 1fr));
		column-gap: 1.75rem;
	}

	&__item {
		flex: 1 0 350.0001px;
		border-radius: 30.0018px;
		padding: 1.1rem 0.8rem;
		background: #f5f5f5;
	}

	&__service-name {
		@include text-h6;
		margin-bottom: 9.9991px;
		// max-width: 65%;
		text-transform: uppercase;
	}

	&__service-image {
		display: block;
		margin: 0 auto 2.669rem;
		border-radius: 0.8897rem;
		width: 9.7865rem;
		height: 8.0072rem;
		object-fit: cover;
		object-position: center 30%;
	}

	&__service-description {
		margin-top: auto;
		height: 120.0005px;
		display: flex;
		// align-items: end;
		align-items: last baseline;
		justify-content: space-between;
	}

	&__service-number {
		@include text-h2;
		color: $text-color-green;
	}

	&__service-text {
		width: 6.895rem;
	}
}
.contact {
	margin-bottom: 140.0009px;
	&__container {
	}
	&__title {
		@include text-h3;
		margin-bottom: 59.9991px;
	}

	&__content {
		border-radius: 1.7794rem;
		background: url('@img/hero.webp') center / cover;
		// display: flex;
		// flex-wrap: wrap-reverse;
		overflow: hidden;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	}

	&__feedback {
		// flex: 1 0 20rem;
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: #ffffff7f;
			backdrop-filter: blur(0.2224rem);
			-webkit-backdrop-filter: blur(0.2224rem);
		}
	}

	&__form {
	}
	&__contacts {
		// flex: 1 0 20rem;
		display: flex;
		justify-content: center;
		// padding: 0 auto;
	}
}
.cars {
	margin-bottom: 140.0009px;
	&__container {
	}

	&__text {
		margin-bottom: clamp(29.9996px, 5vw, 59.9991px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 29.9996px;
	}

	&__title {
		@include text-h3;
		flex: 1 0 50%;
		font-size: clamp(1.7794rem, 8vw, 2.847rem);
		text-wrap: nowrap;
	}

	&__description {
		@include text-h9;
		flex: 1 1 50%;
		max-width: clamp(17.121rem, 60vw, 30.5694rem);
		margin-left: auto;
		font-size: clamp(0.9rem, 4vw, 1.5rem);
		text-align: right;
		text-wrap: balance;
	}

	&__content {
	}

	&__list {
		margin-bottom: 2.669rem;
	}

	&__item {
		position: relative;
		// height: clamp(16.9039rem, 50vw, 22.242rem);
		aspect-ratio: 0.8;
		padding: 0 20.0005px 1.3345rem;
		display: flex;
		align-items: end;
		justify-content: center;
		box-shadow: 1px 2px 5px 2px #ddd;
		border-radius: 1.3346rem;
		overflow: hidden;
	}

	&__item-img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__item-text {
		@include text-h10;
		border: 0.0445rem solid rgba(252, 252, 252, 0.7);
		border-radius: 0.8897rem;
		padding: 25px 20.0005px;
		width: 100%;
		text-align: center;
		color: $text-color-white;
		text-shadow: 0 0.0445rem 0.2224rem #666;
		backdrop-filter: blur(3.9992px);
		background: rgba(99, 99, 99, 0.3);
	}
	&__buttons {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		column-gap: clamp(3.5587rem, 10vw, 6.2278rem);
	}

	&__button {
		height: clamp(3.1139rem, 10vw, 4.4484rem);
		aspect-ratio: 1;
		background: $button-color-normal;
		mask-image: url(@img/icons/icons.svg#arrow-right);
		transition: background 0.3s ease, scale 0.1s ease;
		&-prev {
			rotate: 180deg;
		}
		&-next {
		}
		@media (hover) {
			&:hover {
				background: $button-color-hover;
			}
		}
		&:focus-visible {
			background: $button-color-hover;
		}
		&:active {
			background: $button-color-active;
			scale: 0.9;
		}
	}
}

.footer {
	width: 100%;
	background: $main-color-green;
	span,
	p,
	a,
	h3 {
		color: $text-color-white;
	}
	&__container {
	}

	&__content {
		padding: 60px 0;
		display: flex;
		align-items: start;
		flex-wrap: wrap;
		gap: 2.3rem;
	}

	&__logo {
		margin-right: auto;
		p {
			border-color: $text-color-white;
		}
	}

	&__nav {
		@include text-h9;
		display: flex;
		flex-direction: column;
		row-gap: 1.35rem;
	}

	&__item {
	}
	
	&__nav-link {
		@media (hover) {
			&:hover {
				color: $text-color-footer-hover;
			}
		}
		&:focus-visible {
			color: $text-color-footer-hover;
		}
		&:active {
			color: $text-color-footer-active;
		}
	}

	&__contact {
		@include text-h9;
		border-inline: 1px solid $main-color-white;
		padding-inline: 2.5rem;
		display: flex;
		flex-direction: column;
		row-gap: 0.6rem;
	}

	&__contact-address {
	}

	&__contact-phone {
		line-height: 300%;
		@media (hover) {
			&:hover {
				color: $text-color-footer-hover;
			}
		}
		&:focus-visible {
			color: $text-color-footer-hover;
		}
		&:active {
			color: $text-color-footer-active;
		}
	}

	&__contact-email {
		line-height: 200%;
		@media (hover) {
			&:hover {
				color: $text-color-footer-hover;
			}
		}
		&:focus-visible {
			color: $text-color-footer-hover;
		}
		&:active {
			color: $text-color-footer-active;
		}
	}

	&__schedule {
		@include text-h9;
	}

	&__schedule-text {
		&:not(:first-child) {
			line-height: 350%;
		}
	}

	&__media {
		margin-right: 7px;
		// max-width: calc(4rem * 2);
		display: flex;
		flex-direction: row-reverse;
		gap: 1.3rem;
	}
	&__media-column {
		display: flex;
		flex-direction: column;
		gap: 1.3rem;
	}
	&__media-link {
		height: 2.5rem;
		aspect-ratio: 1;
		background: $main-color-white;
		transition: background 0.2s ease, scale 0.2s ease;

		&._vb {
			mask-image: url('@img/icons/icons.svg#vb');
		}
		&._tg {
			mask-image: url('@img/icons/icons.svg#tg');
		}
		&._wu {
			mask-image: url('@img/icons/icons.svg#wu');
		}
		&._fb {
			mask-image: url('@img/icons/icons.svg#fb');
		}
		&._inst {
			mask-image: url('@img/icons/icons.svg#inst');
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			opacity: 0;
			transition: opacity 0.2s ease;
		}

		@media (hover) {
			&:hover {
				background: #ffffff4d;
				background: transparent;
				img {
					opacity: 0.5;
				}
			}
		}
		&:focus-visible {
			background: #ffffff4d;
			img {
				opacity: 0.5;
			}
		}
		&:active {
			scale: 1.3;
			background: #ffffff0c;
			pointer-events: none;
			img {
				opacity: 1;
			}
		}
	}

	&__authors {
		padding-bottom: 30px;
		text-align: left;
	}

	&__author {
		font-weight: 600;
		text-decoration: underline;
	}
	@media (width <= $screen1280){
	&__content {
		
	}
	}
}
